<!html>

	<head>
		<script type="text/javascript" src="library/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="library/js/script.js"></script>

		<link rel="stylesheet" href="library/css/style.css" media="screen" title="no title" charset="utf-8">

		<meta charset="UTF-8">

		<title>BOGGLE GAME</title>
	</head>

	<body>
		
		<div id="wrapper">

			<div id="header">
				<div id="logo">
					<img src="/img/logo.png">
				</div>

				<div id="container-indicators">
					<div id="container-time">
						<img src="/img/timer.png">
						<span id="timer">2:00</span>
					</div>

					<div id="container-controls">
						<ul id="list-control">
							<li><img src="/img/main-menu.png"></li>
							<li><img src="/img/restart-game.png"></li>
							<li><img src="/img/sound-off.png"></li>
						</ul>
					</div>
				</div>

			</div>
			<div id="container-board">
				<div class="board-row">
					<div class="tile-wrapper" id="1-1">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">D</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="1-2">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">G</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="1-3">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">H</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="1-4">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">I</span>
							</div>
						</div>
					</div>
				</div>
				<div class="board-row">
					<div class="tile-wrapper" id="2-1">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">K</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="2-2">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">L</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="2-3">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">P</span>
							</div>
						</div>

					</div>
					<div class="tile-wrapper" id="2-4">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">S</span>
							</div>
						</div>
					</div>
				</div>
				<div class="board-row">
					<div class="tile-wrapper" id="3-1">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">Y</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="3-2">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">E</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="3-3">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">U</span>
							</div>
						</div>

					</div>
					<div class="tile-wrapper" id="3-4">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">T</span>
							</div>
						</div>
					</div>
				</div>
				<div class="board-row">
					<div class="tile-wrapper" id="4-1">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">E</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="4-2">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">O</span>
							</div>
						</div>
					</div>
					<div class="tile-wrapper" id="4-3">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">R</span>
							</div>
						</div>

					</div>
					<div class="tile-wrapper" id="4-4">
						<div class="outer-wrap">
							<div class="inner-wrap">
								<span class="letter">N</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- right hand side part -->
			<div id="container-game-info">
				<div id="user-words">
					<ol id="word-list">
					</ol>
				</div>
				<div id="user-select">
					<div class="icon-container">
						<img src="/img/icon-pencil.png">
					</div>
					<div id="selected-word"></div>
					<div class="button icon-container" id="submit">
						<img src="/img/enter-word.png">
					</div>
				</div>
			</div>

		</div> <!-- end of #wrapper -->


		<div id="modal">
			<div id="modal-contents">
				<div class="button" id="btnStartGame">
					START GAME
				</div>
			</div>
		</div>

	</body>
</html>
