/**
*   Font Faces should be defined here.
*/

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/Roboto-Black.eot?") format("eot"),
  	     url("../fonts/Roboto-Black.woff") format("woff"),
         url("../fonts/Roboto-Black.ttf") format("truetype"),
         url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg");
    font-weight: normal;
    font-style: normal;
}