@import 'variables';
@import 'mixins';
@import 'typography';

body {
	background-color: $green-background;
	font-family: "Roboto Black";
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
}

#header {
	margin: 5px 0;

	#logo {
		width: 540px;
		display: inline-block;

		img {
			margin-left: -5px;
		}
	}	

	#container-indicators {
		width: 400px;
		margin-left: 15px;
		display: inline-block;

		#container-time {
			display: inline-block;
			float: left;

			img {
				height: 40px; 
				display: inline-block;
			}

			span#timer {
				margin-left: 10px;
				font-size: 54px;
				color: rgba(0,0,0,0.4);
			}
		}

		#container-controls {
			float: right;
			margin-top: 15px;
			position: relative;
		}
	}
}

ul#list-control {
	float: right;
	padding: 0;
	margin: 0;

	li {
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
		margin: 0 5px;

		img {
			height: 32px;
		}
	}

	li:last-child {
		margin-right: -5px;
	}
}

.tile-wrapper {
	float: left;
	margin: 5px;
	width: 125px;
	height: 125px;
	text-align: center;
	background-image: url("../../img/tile-background.png");
	cursor: pointer;

	&:hover {
		background-color: grey;
	}

	.outer-wrap {
		background-color: $outer-wrap;
		margin: 10% 0 0 10%;
		width: 90%;
		height: 90%;

		@include border-radius(25px);
	}

	.inner-wrap {
		background-color: white;
		margin: 3% 0 0 3%;
		width: 94%;
		height: 94%;
		display: inline-block;
		@include border-radius(50px);
	}

	span.letter {
		font-size: 64px;
		top: 25%;
		color: rgba(0,0,0,0.7);
		position: relative;
	}
}

#container-board {
	display: inline-block;
	width: 540px;
	height: 540px;
	padding: 5px;
	background-color: $orange-board;

	.board-row {
		background-color: black;
	}
}

#container-game-info {
	display: inline-block;
	float: right;
	width: 400px;
	margin-left: 10px;

	#user-words {
		padding: 15px;
		height: 470px;
		background-color: white;

		ol#word-list {
			font-size: 28px;

			li {	
				color: rgba(0,0,0,0.7);
			}
		}
	}

	#user-select {
		background-color: green-background;
		margin-top: 10px;
		font-size: 28px;
		color: white;

		.icon-container {
			float: left;
			width: 10%;

			img {
				height: 40px;
				width: 40px;
			}
		}

		div#selected-word {
			margin-left: 15px;
			width: 70%;
			height: 35px;
			float: left;
			font-size: 36px;
			border-bottom: #0f6756 solid 3px;
		}

		.button#submit {
			float: right;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

#modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,1);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;

	&:target {
		opacity:1;
		pointer-events: auto;
	}

	#modal-contents {
		display: block;
		top: 25%;
		text-align: center;
		width: 20%;
		position: relative;
		margin: 10% auto;
		background: #fff;
		border: 10px black solid;
		cursor: pointer;
		@include border-radius(20px);


		&:hover {
			background-color: $orange-board;
		}

		.button {
			padding: 30px 0;
			font-size: 32px;
			@include border-radius(5px);
		}
	}
}










