/**
* All of the variables regarding colors and others will be placed here.
*
*/
/**
*	All mixins will be placed here.
*/
/**
*   Font Faces should be defined here.
*/
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.eot?") format("eot"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #16a086;
  font-family: "Roboto Black"; }

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

#header {
  margin: 5px 0; }
  #header #logo {
    width: 540px;
    display: inline-block; }
    #header #logo img {
      margin-left: -5px; }
  #header #container-indicators {
    width: 400px;
    margin-left: 15px;
    display: inline-block; }
    #header #container-indicators #container-time {
      display: inline-block;
      float: left; }
      #header #container-indicators #container-time img {
        height: 40px;
        display: inline-block; }
      #header #container-indicators #container-time span#timer {
        margin-left: 10px;
        font-size: 54px;
        color: rgba(0, 0, 0, 0.4); }
    #header #container-indicators #container-controls {
      float: right;
      margin-top: 15px;
      position: relative; }

ul#list-control {
  float: right;
  padding: 0;
  margin: 0; }
  ul#list-control li {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px; }
    ul#list-control li img {
      height: 32px; }
  ul#list-control li:last-child {
    margin-right: -5px; }

.tile-wrapper {
  float: left;
  margin: 5px;
  width: 125px;
  height: 125px;
  text-align: center;
  background-image: url("../../img/tile-background.png");
  cursor: pointer; }
  .tile-wrapper:hover {
    background-color: grey; }
  .tile-wrapper .outer-wrap {
    background-color: #bec3c7;
    margin: 10% 0 0 10%;
    width: 90%;
    height: 90%;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .tile-wrapper .inner-wrap {
    background-color: white;
    margin: 3% 0 0 3%;
    width: 94%;
    height: 94%;
    display: inline-block;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
  .tile-wrapper span.letter {
    font-size: 64px;
    top: 25%;
    color: rgba(0, 0, 0, 0.7);
    position: relative; }

#container-board {
  display: inline-block;
  width: 540px;
  height: 540px;
  padding: 5px;
  background-color: #f1c40f; }
  #container-board .board-row {
    background-color: black; }

#container-game-info {
  display: inline-block;
  float: right;
  width: 400px;
  margin-left: 10px; }
  #container-game-info #user-words {
    padding: 15px;
    height: 470px;
    background-color: white; }
    #container-game-info #user-words ol#word-list {
      font-size: 28px; }
      #container-game-info #user-words ol#word-list li {
        color: rgba(0, 0, 0, 0.7); }
  #container-game-info #user-select {
    background-color: green-background;
    margin-top: 10px;
    font-size: 28px;
    color: white; }
    #container-game-info #user-select .icon-container {
      float: left;
      width: 10%; }
      #container-game-info #user-select .icon-container img {
        height: 40px;
        width: 40px; }
    #container-game-info #user-select div#selected-word {
      margin-left: 15px;
      width: 70%;
      height: 35px;
      float: left;
      font-size: 36px;
      border-bottom: #0f6756 solid 3px; }
    #container-game-info #user-select .button#submit {
      float: right; }
      #container-game-info #user-select .button#submit:hover {
        cursor: pointer; }

#modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }
  #modal:target {
    opacity: 1;
    pointer-events: auto; }
  #modal #modal-contents {
    display: block;
    top: 25%;
    text-align: center;
    width: 20%;
    position: relative;
    margin: 10% auto;
    background: #fff;
    border: 10px black solid;
    cursor: pointer;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    #modal #modal-contents:hover {
      background-color: #f1c40f; }
    #modal #modal-contents .button {
      padding: 30px 0;
      font-size: 32px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */ }
